img{
    width: 250px;
    height: 190px;
    position:  absolute;
    flex-wrap: wrap;
    padding-left: 2px;
  }
  
  table{
    height: 500px;
    width: 800px;
  }
  
  table, td{
    border: solid 2px;
    border-collapse: collapse;
  }
  tr:nth-child(even){
    background: red;
  }
  tr:nth-child(odd){
    background: white;
  }